$base-gold: #9E802D;

.full-header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
  .headergroup {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    .logo-group{
      .logo {
        width: 150px;
        margin: 0px;
      }
    }
    .info-group {
      display: flex;
      align-items: center;
      p {
        color: $base-gold;
        font-weight: 600;
        margin: 0;
        font-size: 14px;
        margin-right: 30px;
      }
      button {
        border-radius: 2px;
        color: $base-gold;
        background-color: transparent;
        font-size: 12px;
        border: 2px solid $base-gold;
        padding: 2px 18px;
        outline: none;
        cursor: pointer;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
        &:hover {
          color: #000;
          background-color: $base-gold;
          border: 2px solid $base-gold;
          padding: 2px 18px;
          box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
          transform: translateY(-3px);
        }
      }
    }
  }
}
