$base-gold: #9E802D;

.map-container {
  height: 500px;
  padding: 30px 50px;
  .group {
    display: flex;
    .map {
      width: 50%;
      margin-right: 30px;
      iframe {
        height: 400px;
        width: 500px;
      }
    }
    .text {
      h5 {
        text-transform: uppercase;
        color: $base-gold;
        font-weight: bold;
        font-size: 20px;
      }
      p:nth-child(1) {
        margin-bottom: 0 !important;
      }
      button {
        border-radius: 3px;
        border: 2px solid black;
        padding: 8px 48px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
